html {
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  }
  .chat-section{
    display: flex;
  flex-flow: column wrap;
  height: 80vh;
  margin: 25px 10px;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  width: 50%;
  }
  .chat-section img{
    height: 4rem;
    width: 4rem;
    float: left;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 3rem;
  }
  .chat-section h1{
    margin: 2rem 0;
    color: #fff;
  }
  .code{
    height: 6rem;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    align-items: start;
  }

  .message-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin: 20px;
    background-color: #fcfcfe;
  }
  .message-area h4{
    margin: 20px;
    align-self: center;
  }
  .message-area::-webkit-scrollbar {
    width: 6px;
  }
  .message-area::-webkit-scrollbar-track {
    background: #ddd;
  }
  .message-area::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .message{
    display: flex;
  align-items: flex-end;
  text-align: justify;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  }
  .outgoing {
    background-color: #3cb371; 
  color: #fff; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px;
  width: fit-content;
  justify-self: end;
  }
  .incoming{
    background-color: #6495ed;
  color: #fff;
  border-radius: 10px;
  padding: 10px; 
  margin-bottom: 10px;
  width: fit-content;
  justify-self: start;
  }
  ul{
    display: grid;
    margin: 3rem;
    padding: 0;
    max-height: 300px; /* Set a maximum height for the chat window */
    overflow-y: auto;
  }
  form{
    display: block;
    align-self: center;
    justify-self: end;
    margin-top: auto;
    padding: 10px;
  border:none;
  border-radius: 5px;
  font-size: 1em;
  }

  form button {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  form button:hover {
    background: rgb(0, 180, 50);
  }