  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.6deg, rgba(198, 233, 214, 0.93) 11.2%, rgb(154, 237, 156) 78.9%);
    font-family: Helvetica, sans-serif;
  }
  
  .chat-section{
    display: flex;
  flex-flow: column wrap;
  height: 80vh;
  margin: 25px 10px;
  border: var(--border);
  border-radius: 5px;
  background: white;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding-bottom: 2rem;
  }
  .chat-section img{
    height: 4rem;
    width: 4rem;
    float: left;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 3rem;
  }
  .chat-section h1{
    margin: 2rem 0;
    color: #fff;
  }
  .code{
    height: 6rem;
    background-color: black;
    align-items: start;
    width: 100%;
  }
  
  .outgoing {
    background-color: #3cb371; 
  color: #fff; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px;
  width: fit-content;
  justify-self: end;
  }
  .incoming{
    background-color: #6495ed;
  color: #fff;
  border-radius: 10px;
  padding: 10px; 
  margin-bottom: 10px;
  width: fit-content;
  justify-self: start;
  }
  #messages{
    display: grid;
    margin: 3rem;
    padding: 0;
    max-height: 300px; /* Set a maximum height for the chat window */
    overflow-y: auto;
  }
  form{
    display: block;
    align-self: center;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
  }

  .btn {
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #c2fbd7;
  }

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}